{% extends "blog/base.html" %}
{% load staticfiles %}


{% block title %}关于我{% endblock %}

{% block content %}
    <h1 class="page-title">About me :</h1>
    <div class="post-list">
        <p><img src="{% static  "images/头像.jpg" %}" </p>
    <div class="post-body">
        <h4>The story of Pyx：</h4>
        <h5>人的一生或许为各种各样的事情所奔波忙碌，</h5>
        <h5>有一天，</h5>
        <h5>你会发现其实活着是为了她又或者他又或者它，</h5>
        <h5>然而，</h5>
        <h5>为了这些，</h5>
        <h5>你又会失去她或者他又或者它，</h5>
        <h5>得到与失去都是相互的，</h5>
        <h5>失去的或者珍贵，</h5>
        <h5>低头看看你所得到的，</h5>
        <h5>其实失去的并没有那么珍贵，</h5>
        <h5>有时候，命就是这样</h5>
        <h5>人的一生都需要作出选择，</h5>
        <h5>听从自己内心的声音，</h5>
        <h5>不要等到真正失去了，</h5>
        <h5>追悔莫及</h5>
        <h5>最后，**Y love P** forever</h5>
    </div>
    </div>
    <h1 class="copyright">Welcome to visit my website © Pyx</h1>
{% endblock %}