
.content {
    margin-left: 400px;
    margin-right: 400px;
}
h1, h2, h3, h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
.date {
    color: #828282;
}
.save {
    float: right;
}
.post-form textarea, .post-form input {
    width: 100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
.post {
    margin-bottom: 70px;
}
.post h1 a, .post h1 a:visited {
    color: #000000;
}
